In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.datasets import load_iris

In [2]:
data = load_iris()

In [3]:
df= data.data

In [4]:
df = pd.DataFrame(df,columns=data.feature_names)

In [5]:
y = pd.DataFrame(data=data.target,columns=['category'])

In [6]:
y

     category
0           0
1           0
2           0
3           0
4           0
..        ...
145         2
146         2
147         2
148         2
149         2

[150 rows x 1 columns]

In [7]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
y

     category
0           0
1           0
2           0
3           0
4           0
..        ...
145         2
146         2
147         2
148         2
149         2

[150 rows x 1 columns]

In [9]:
from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.25, random_state=104)

In [10]:
X_train = stdsc.fit_transform(X_train)
X_test= stdsc.transform(X_test)

In [11]:
from sklearn.model_selection import GridSearchCV

In [12]:
svr = SVR(kernel='rbf',gamma='scale',C=2)

In [13]:
parameters = {'degree':[2],'kernel':['rbf','linear','sigmoid']}
sr = GridSearchCV(svr,parameters,scoring='neg_mean_squared_error',cv=5)

In [14]:

k = X_train.shape[0] != X_train.shape[1]
print(k)

True

In [ ]:
sr.fit(X_train,y_train.flatten())

AttributeError: 'DataFrame' object has no attribute 'ravel'

In [70]:
y_pred  = sr.predict(X_test)

In [71]:
from sklearn.metrics import r2_score,roc_auc_score,top_k_accuracy_score,accuracy_score

In [72]:
y_pred

array([ 4.63327063e-02,  4.15049493e-02,  3.75539476e-02,  8.20305843e-01,
        1.56759039e+00,  1.52519073e+00,  1.26522738e+00,  1.91156435e+00,
        1.19265275e+00,  2.77184563e-02,  2.61142844e-02,  8.30298478e-01,
        9.59162557e-01,  1.98065214e+00,  1.09954411e+00,  6.17043641e-02,
        9.67496229e-01,  1.13053888e+00,  2.06970354e+00,  5.73669948e-02,
        9.48228341e-01,  3.94182732e-02,  2.01820751e+00, -7.84676667e-04,
        2.13201333e+00,  9.69053581e-01,  7.71100941e-04,  8.89422910e-03,
        9.53339878e-03,  9.16408128e-01,  4.84088852e-03,  6.60257210e-01,
        2.00265732e+00,  7.62044977e-03,  1.63570591e+00,  1.15170090e+00,
        1.30626321e+00, -1.68842467e-02])

In [73]:
score = r2_score(y_pred,y_test)

In [74]:
score

0.9327464262733738

In [75]:
y_test

     category
31          0
18          0
10          0
64          1
134         2
68          1
54          1
147         2
89          1
35          0
34          0
88          1
75          1
135         2
61          1
45          0
50          1
86          1
105         2
20          0
96          1
46          0
109         2
23          0
143         2
71          1
5           0
30          0
0           0
74          1
21          0
41          0
113         2
44          0
129         2
66          1
87          1
47          0

In [76]:
score

0.9327464262733738